{
  "jsc": {
    "loose": true,
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "paths": {
      "@/src": [
        "./src"
      ]
    }
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true,
  "env": {
    "targets": [
      "defaults",
      "not ie 11",
      "maintained node versions and not node < 16"
    ]
  }
}
